<div id="canvas-hidden" ></div>
<div id="session-info" data-sessionID="" ></div>
<div class="container">
  <div id="chat-box">

  </div>



</div>
<footer class="footer">
  <div class="container-fluid">

    <div class="form-group sending-box">
      <div class="sending-option-box " >
        <div class="">
          <button id="KT-button" data-toggle="off" class="btn btn-default">KT</button>
          <button id="send"  class="btn btn-default ">Send</button>
        </div>

      </div>
      <div class="message-content">
        <input type="text" id="message-content-input" class="form-control ">
      </div>
    </div>

  </div>
</footer>

<div id="KT-option-box">
  <div id="emotion-box"></div>
  <div id="canvas"></div>
</div>